:root,
[data-theme='default'] {
    --color-primary: #5b8ffc;
    --color-green: #28a55f;
    --color-gray: #798085;
    --color-bg: white;
    --text-color: black;
    --font-size: 1.6rem;
    --header-height: 4rem;
    --gap: 1rem;
}

[data-theme] {
    background-color: var(--color-bg);
    color: var(--text-color);
    font-size: var(--font-size);
}

[data-theme='dark'] {
    /* Todo add dark theme */
}


// Colors, use sass varibles to be able to use sass functions

$green: #47B465;
$orange: #EFA245;
$blue: #0372B4;
$red: #EB5A46;
$light: 10%;




